<div class="title">
  Player1 vs Player2
</div>

<div class="result">
  And the winner is...
</div>

<div class="timer">
  00:00:05
</div>

<div class="tic-tac-toe-board">
  <div class="row" *ngFor="let row of board.TicTacToeBoard; let row_i = index">
    <div class="cell" *ngFor="let cell of row; let cell_i = index" (click)="onMoveClick(row_i, cell_i)" [style.background-color]="fun(row_i, cell_i)">

      <ng-container *ngIf="board.TicTacToeBoard[row_i][cell_i] == tiles.circle">
        <img src="../../../assets/circle.png" alt=""/>
      </ng-container>

      <ng-container *ngIf="board.TicTacToeBoard[row_i][cell_i] == tiles.cross">
        <img src="../../../assets/cross.png" alt=""/>
      </ng-container>

    </div>
  </div>
</div>

<!--<div class="my" [@changeColor]="colorState" (click)="toggleColor()">Click me to change color</div>-->

<button mat-button (click)="exitGame()">Give up!</button>
<!--<button mat-button (click)="getState()">Exit game</button>
<button mat-button (click)="endGameSession()"> END</button>-->


