<div class="title">
  Player1 vs Player2
</div>

<div class="result">
  And the winner is...
</div>

<div class="timer">
  00:00:05
</div>

<div class="tic-tac-toe-board">
  <div class="row" *ngFor="let row of game.board; let row_i = index">

    <div appBoardActivity
         *ngFor="let cell of row; let cell_i = index"
         class="cell"
         [tileStatus]="checkIfTileIsActive(row_i, cell_i)"
         [style.background-color]="colorIfTaken(row_i, cell_i)"
         (click)="onMoveClick(row_i, cell_i)">

      <ng-container *ngIf="game.board[row_i][cell_i] == tiles.circle">
        <img src="../../../assets/circle.png" alt="" />
      </ng-container>

      <ng-container *ngIf="game.board[row_i][cell_i] == tiles.cross">
        <img src="../../../assets/cross.png" alt="" />
      </ng-container>

    </div>
  </div>
</div>


<button (click)="exitGame()">I would like to give up!</button>
