/* Add this CSS to your component's CSS file */

.tic-tac-toe-board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px; /* Adjust the cell height as needed */
  width: 150px;
  margin: 5px; /* Adjust the margin between cells as needed */
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #ffffff; /* White border */
  cursor: pointer;
  /*transition: background-color 0.3s ease, border 0.3s ease;*/
}

  .cell:hover {
    background-color: #f2f2f2; /* Light gray background on hover */
    border: 2px solid #e0e0e0; /* Light gray border on hover */
  }

img {
  width: 100%;
  background-color: transparent;
}

.title {
  color: azure
}

.result {
  color: azure
}

.timer {
  color: azure;
}

.my {
  width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 12px;
}
