<ng-container *ngIf="!isConfirmationOccured">
  <div class="login-frame">
    <div class="title">
      Create
    </div>

    <div class="login-container">
      <form [formGroup]="signUpForm" class="form" (ngSubmit)="signUp()">
        <h2>Sign up</h2>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" formControlName="username" />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password" />
        </div>
        <div class="form-group">
          <label for="password">Retype password:</label>
          <input type="password" id="repassword" formControlName="password" />
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="email" formControlName="email" />
        </div>
        <button type="submit">Create profile</button>
      </form>
    </div>

    <button (click)="back()">Back to signing in</button>
  </div>
</ng-container>

<ng-container *ngIf="isConfirmationOccured">
  <div class="title">
    Confirm email
  </div>

  <div class="login-container">
    <form [formGroup]="confirmationForm" class="form" (ngSubmit)="confirmSignUp()">
      <h2>Confirmation</h2>
      <div class="form-group">
        <label>Code:</label>
        <input type="text" formControlName="code" />
      </div>
      <button type="submit">Confirm email</button>
    </form>
  </div>
</ng-container>

