
.horizontal-line {
  border-top: 2px solid #4caf50;
  margin: 20px 0 0 0;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  padding-top: 20px;
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  font-family: 'Caveat', cursive;
  font-size: 75px;
  color: ghostwhite;
}

.sticky-title {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.rounded-box {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 12px;
  margin-top: 25px;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-rows: 30% auto;
  grid-template-columns: auto auto;
  gap: 20px;
  height: 75vh;
  width: 70vw;
  min-width: 200px;
}

.grid-item {
  background-color: #ffffff; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  padding: 0 20px 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  overflow-y: auto;
}

.grid-item::-webkit-scrollbar {
    width: 10px;
}

.grid-item::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 6px;
}

.grid-item::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 6px;
}

/*@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: auto;
}*/
