
<div class="main-title">
  Let's play, {{username}}
</div>

<div class="grid-container">
  <div class="grid-item">
    <h2>Find your opponent</h2>
    <div class="horizontal-line"></div>
    <button (click)="startGame()">Start the game</button>
  </div>

  <div class="grid-item">
    <div class="sticky-title">
      <h2>My score</h2>
    </div>
    <div class="horizontal-line"></div>
    <app-my-score [playerId]="playerId"></app-my-score>
  </div>

  <div class="grid-item">
    <div class="sticky-title">
      <h2>Global ranking</h2>
    </div>
    <div class="horizontal-line"></div>
    <app-ranking
      [page]="pageRanking"
      [size]="sizeRanking">
    </app-ranking>
  </div>

  <div class="grid-item">
    <div class="sticky-title">
      <h2>My history</h2>
    </div>
    <div class="horizontal-line"></div>
    <app-my-history
      [playerId]="playerId"
      [username]="username"
      [page]="pageHistory"
      [size]="sizeHistory">
    </app-my-history>
  </div>
</div>
